<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+شnuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="../build/output.css">
</head>

<body>

    <footer class="bg-mainBlack flex flex-col justify-center text-center items-center text-gray">
        <div class="flex flex-col1 md:flex-row ">
            <div class="w-72 mt-3 h-full">
                <ul>
                    <li class="text-mainWhite">Shop</li>
                    <li class="pt-3">RazerStore</li>
                    <li class="pt-2">RazerCafe</li>
                    <li class="pt-2">Store Locator</li>
                    <li class="pt-2">Purchase Programs</li>
                    <li class="pt-2">Exclusives</li>
                    <li class="pt-2">Last Chance</li>s
                    <li class="pt-2">Newsletter</li>
                    <li></li>
                </ul>
            </div>
            <div class="w-72 mt-3 h-full">
                <ul>
                    <li class="text-mainWhite">Explore</li>
                    <li class="pt-3">Technologhy</li>
                    <li class="pt-2">Chroma RGB</li>
                    <li class="pt-2">Concpets</li>
                    <li class="pt-2">Esports</li>
                    <li class="pt-2">Collabs</li>
                </ul>
            </div>
            <div class="w-72 mt-3 h-full">
                <ul>
                    <li class="text-mainWhite">Support</li>
                    <li class="pt-3">Get Help</li>
                    <li class="pt-2">Registration</li>
                    <li class="pt-2">Online Store</li>
                    <li class="pt-2">RazerCare</li>
                    <li class="pt-2">Manage Razer ID</li>
                    <li class="pt-2">Support Videos</li>
                    <li class="pt-2">Accessibility</li>
                </ul>
            </div>
            <div class="w-72 mt-3 h-full">
                <ul>
                    <li class="text-mainWhite">Company</li>
                    <li class="pt-3">About Us</li>
                    <li class="pt-2">Careers</li>
                    <li class="pt-2">Press Room</li>
                    <li class="pt-2">Investor</li>
                    <li class="pt-2">zVentures</li>
                    <li class="pt-2">Contact Us</li>
                </ul>
            </div>
            <div class=" h-full flex flex-col mt-3 mr-16">
                <h1 class="text-Primary">FOR GAMERS. BY GAMERS.</h1>
                <div class="flex text-Primary mt-5 justify-center">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 " fill="none" viewBox="0 0 24 24"
                        stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 ml-3" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M21 15.546c-.523 0-1.046.151-1.5.454a2.704 2.704 0 01-3 0 2.704 2.704 0 00-3 0 2.704 2.704 0 01-3 0 2.704 2.704 0 00-3 0 2.704 2.704 0 01-3 0 2.701 2.701 0 00-1.5-.454M9 6v2m3-2v2m3-2v2M9 3h.01M12 3h.01M15 3h.01M21 21v-7a2 2 0 00-2-2H5a2 2 0 00-2 2v7h18zm-3-9v-2a2 2 0 00-2-2H8a2 2 0 00-2 2v2h12z" />
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 ml-3" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                </div>
                <div class="flex justify-center">
                    <img src="../content/svg/razer-ths-logo.svg" class="w-32 h-32">
                </div>
            </div>
        </div>
        <div class="h-px w-80rem mt-6 bg-Primary"></div>
        <div class="flex text-sm  pt5">
            <h1>Copyright © 2022 Razer Inc.</h1>
            <h1 class="pl-10">Desgine by MANIRMP</h1>
        </div>
    </footer>

</body>

</html>